<template>
	<form class="row">
		<label class="column">
			<span>Hex</span>
			<input type="text" id="hex-input" ref="hexInput" v-model="currentHex">
			<button class="copy" @click.prevent="copyToClipboard($refs.hexInput, $event)">Copy to clipboard</button>
		</label>
		<label class="column">
			<span>RGB</span>
			<input type="text" id="rgb-input" ref="rgbInput" v-model="currentRgb">
			<button class="copy" @click.prevent="copyToClipboard($refs.rgbInput, $event)">Copy to clipboard</button>
		</label>
		<label class="column">
			<span>RGBA</span>
			<input type="text" id="rgba-input" ref="rgbaInput" v-model="currentRgba">
			<button class="copy" @click.prevent="copyToClipboard($refs.rgbaInput, $event)">Copy to clipboard</button>
		</label>
	</form>
</template>

<script>
export default {
	methods: {
		copyToClipboard(targetInput, e) {
			targetInput.select();
			try {
				// copy text
				document.execCommand('copy');
				targetInput.blur();

				// copied animation
				e.target.classList.add('copy--copied');
				setTimeout(() => {
					e.target.classList.remove('copy--copied');
				}, 1500);
			}
			catch (err) {
				alert('please press Ctrl/Cmd+C to copy');
			}
		}
	}
}
</script>

<style>

</style>
