<template>
	<div class="credits">
		<p>&lt;/&gt; with 🎨 by
			<a href="https://stegosource.com">Stegosource</a>
		</p>
	</div>
</template>

<script>
</script>

<style>
.credits {
	font-size: 1rem;
}
</style>
