<template>
	<div class="random-color">
		<button class="random-color__btn" @click="$emit('randomColor')">Random Color</button>
	</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
