<template>
  <div id="app">
    <div class="container">
      <main class="main-content">
        <AppHeader></AppHeader>
        <form class="row">
          <label class="column">
            <span>Hex</span>
            <input type="text" id="hex-input" ref="hexInput" v-model="currentHex" @keyup="hexUpdated($event)">
            <button class="copy" @click.prevent="copyToClipboard($refs.hexInput, $event)">Copy to clipboard</button>
          </label>
          <label class="column">
            <span>RGB</span>
            <input type="text" id="rgb-input" ref="rgbInput" v-model="currentRgb" @keyup="rgbUpdated($event)">
            <button class="copy" @click.prevent="copyToClipboard($refs.rgbInput, $event)">Copy to clipboard</button>
          </label>
          <!-- <label class="column">
                  <span>RGBA</span>
                  <input type="text" id="rgba-input" ref="rgbaInput" v-model="currentRgba">
                  <button class="copy" @click.prevent="copyToClipboard($refs.rgbaInput, $event)">Copy to clipboard</button>
                </label> -->
        </form>
        <!-- <AppForm></AppForm> -->
        <RandomColor @randomColor="randomColor"></RandomColor>
      </main>
      <footer>
        <Credits></Credits>
      </footer>
    </div>
  </div>
</template>

<script>
import 'carbon-grid';
import AppHeader from './components/AppHeader';
import AppForm from './components/AppForm';
import RandomColor from './components/RandomColor';
import Credits from './components/Credits';

export default {
  data() {
    return {
      currentHex: '#fff',
      currentRgb: 'rgb(255, 255, 255)',
      // currentRgba: 'rgba(255, 255, 255, 1)'
    }
  },
  components: {
    AppHeader,
    AppForm,
    RandomColor,
    Credits
  },
  created() {
    this.randomColor();
  },
  methods: {
    hexToRgb(hex) {
      // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
      const shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
      hex = hex.replace(shorthandRegex, function (m, r, g, b) {
        return r + r + g + g + b + b;
      });

      const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
      } : { r: 255, g: 255, b: 255 };
    },
    rgbToHex(color) {
      if (color.substr(0, 1) === '#') {
        return color;
      }
      const digits = /(.*?)rgb\((\d+), (\d+), (\d+)\)/.exec(color);

      const red = parseInt(digits[2]);
      const green = parseInt(digits[3]);
      const blue = parseInt(digits[4]);

      const rgb = blue | (green << 8) | (red << 16);
      return digits[1] + '#' + rgb.toString(16);
    },
    copyToClipboard(targetInput, e) {
      targetInput.select();
      try {
        // copy text
        document.execCommand('copy');
        targetInput.blur();

        // copied animation
        e.target.classList.add('copy--copied');
        setTimeout(() => {
          e.target.classList.remove('copy--copied');
        }, 1500);
      }
      catch (err) {
        alert('please press Ctrl/Cmd+C to copy');
      }
    },
    randomColor() {
      const randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
      const rgb = this.hexToRgb(randomColor);

      document.body.style.setProperty('--currentColor', randomColor);
      this.currentHex = randomColor;
      this.currentRgb = `rgb(${rgb.r}, ${rgb.g}, ${rgb.b})`;
      // this.currentRgba = `rgb(${rgb.r}, ${rgb.g}, ${rgb.b}, 1)`;
    },
    hexUpdated(e) {
      const rgb = this.hexToRgb(e.target.value);
      document.body.style.setProperty('--currentColor', e.target.value);
      this.currentRgb = `rgb(${rgb.r}, ${rgb.g}, ${rgb.b})`;
      // this.currentRgba = `rgb(${rgb.r}, ${rgb.g}, ${rgb.b}, 1)`;
    },
    rgbUpdated(e) {
      const hex = this.rgbToHex(e.target.value);
      document.body.style.setProperty('--currentColor', hex);
      this.currentHex = hex;
    }
  }
}
</script>

<style>
:root {
  --currentColor: #fff;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

input,
button {
  font-size: 1rem;
}

label>span {
  display: inline-block;
  margin-bottom: 7px;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 7px;
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
}

button {
  border: 1px solid;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #fff;
}

a {
  color: inherit;
}

#app {
  transition: background 0.5s ease;
  background: var(--currentColor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copy {
  position: relative;
}

.copy--copied:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "👏 Copied! 🎉";
  color: #fff;
  background: var(--currentColor);
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1s ease;
}

@keyframes showcopied {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  30% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(-100%) scale(1.5);
  }
}

.random-color__btn {
  margin-top: 50px;
  margin-bottom: 50px;
}
</style>
